{% load static %}
<!DOCTYPE html>
<style>
  body {
    margin: auto;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 75%;
    background-color: ivory;
  }

  header {
    text-align: center;
    padding: 10px;
  }

  p {
    font-size: larger;
  }

  .container {
    display: flex;
    flex: 1;
  }

  .half {
    flex: 1;
    overflow: hidden;
  }

  .tags {
    font-size: medium;
  }
</style>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaflet Map with Double Click Marker Drop (No Zoom)</title>
  <!-- Include Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <!-- Include Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <style>
      #map {
          height:50%;
          width:100%;
      }
  </style>
  
  <title>Litter @ {{pin.zip}}</title>

</head>

<body>
  <header>
    <h1>Litter @ {{pin.zip}}</h1>
  </header>
  <div class="container">
    <div class="half" id="left-half">
      <div id="map"></div>
      {%if pin.image%}
      <img src="{{pin.image.url}}" alt="PLACEHOLDER">
      {%endif%}
    </div>
    <div class="half" id="right-half">
      <p class="tags"><span style="float: left;">{{pin.status}}</span>
        <span style="float: right;">{{pin.date|date:"Y-m-d"}}</span>
      </p>
      <br>
      <p>{{pin.description}}</p>
      <address>Latitude: {{pin.lat}}<span style="margin-right: 32px;"></span>Longitude: {{pin.long}}</address>
      <address>{{pin.address}}</address>
    </div>
  </div>


    <script>
      // Initialize the map
      var map = L.map('map').setView([{{ pin.lat }}, {{ pin.long }}], 16);


      // Add OpenStreetMap tiles
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      // Variable to store the last added marker
      var marker = L.marker([{{pin.lat}}, {{pin.long}}]).addTo(map);
  

      

      // Disable default Leaflet behavior for double-click
      map.doubleClickZoom.disable();
  </script>
  </body>

</html>